name: Build and Deploy Web
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build web --release # Builds for browser instead of Android
      - name: Upload Web Build
        uses: actions/upload-artifact@v4
        with:
          name: study-dash-web
          path: build/web/
